body {
	font-family: "Lucida Console", monospace, sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

#main {
	margin: 0px auto;
	width: 176px;
}

#grid {
	border: 1px solid #000;
	border-width: 1px 0 0 1px;
	display: flex;
	flex-wrap: wrap;
	width: 175px;
}

#grid input[type="text"] {
	width: 24px;
	height: 24px;
	padding: 0px;
	margin: 0px;
	border-color: #000;
	border-width: 0px 1px 1px 0;
	border-radius: 0px;
	text-align: center;
}

#controls {
	margin-top: 10px;
}

#controls input[type="button"] {
	width: 100%;
}
