<div class="row">
  <div class="col-xs-12">
    <h2>CCBR Microarray analysis workflow</h2>
    <h5>(For Affymetrix human and mouse data)</h5>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 form-group">
    <label for="project_id">Enter Project ID (with no spaces):</label>
    <input name="project_id" type="text" class="form-control" pattern="[A-Za-z0-9._]" value=""/>
  </div>
  <div class="col-xs-6 form-group">
    <label for="analysis_type">Choose type of analysis</label>
    <select name="analysis_type" class="form-control">
      <option value="">--- Select Analysis Type ---</option>
      <option value="CEL">Upload CEL files</option>
      <option value="GEO">Analyze GEO data</option>
    </select>
  </div>
</div>
