<div id="header">
</div>
<ul class="nav nav-tabs responsive">
    <li class="active"><a href="#tab-core" data-toggle="tab">Core</a></li>
    <li><a href="#tab-traits" data-toggle="tab">Traits</a></li>
    <li><a href="#tab-skills" data-toggle="tab">Skills</a></li>
    <li><a href="#tab-advantages" data-toggle="tab">Advantages</a></li>
    <li><a href="#tab-disadvantages" data-toggle="tab">Disadvantages</a></li>
</ul>
<div class="tab-content">
    <div id="tab-core" class="tab-pane active">Core</div>
    <div id="tab-traits" class="tab-pane">Traits</div>
    <div id="tab-skills" class="tab-pane">Skills</div>
    <div id="tab-advantages" class="tab-pane">Advantages</div>
    <div id="tab-disadvantages" class="tab-pane">Disadvantages</div>
</div>
