<div id="header">
</div>
<div>
    <button id="import">Import</button>
    <button id="export">Export</button>
    <button id="print">Print...</button>
</div>
<ul class="nav nav-tabs responsive">
    <li class="active"><a href="#tab-basics" data-toggle="tab">Basics</a></li>
    <li><a href="#tab-traits" data-toggle="tab">Traits</a></li>
    <li><a href="#tab-skills" data-toggle="tab">Skills</a></li>
    <li><a href="#tab-advantages" data-toggle="tab">Advantages</a></li>
    <li><a href="#tab-disadvantages" data-toggle="tab">Disadvantages</a></li>
</ul>
<div class="tab-content">
    <div id="tab-basics" class="tab-pane active">Basics</div>
    <div id="tab-traits" class="tab-pane">Traits</div>
    <div id="tab-skills" class="tab-pane">Skills</div>
    <div id="tab-advantages" class="tab-pane">Advantages</div>
    <div id="tab-disadvantages" class="tab-pane">Disadvantages</div>
</div>
