<div id="earth">
  <div>
    <label>Earth</label>
    <span><%=earth%></span>
  </div>
  <div>
    <label for="stamina">Stamina</label>
    <input type="number" name="stamina" value="<%=stamina%>"/>
  </div>
  <div>
    <label for="willpower">Willpower</label>
    <input type="number" name="willpower" value="<%=willpower%>"/>
  </div>
</div>
<div id="air">
  <div>
    <label>Air</label>
    <span><%=air%></span>
  </div>
  <div>
    <label for="reflexes">Reflexes</label>
    <input type="number" name="reflexes" value="<%=reflexes%>"/>
  </div>
  <div>
    <label for="awareness">Awareness</label>
    <input type="number" name="awareness" value="<%=awareness%>"/>
  </div>
</div>
<div id="water">
  <div>
    <label>Water</label>
    <span><%=water%></span>
  </div>
  <div>
    <label for="strength">Strength</label>
    <input type="number" name="strength" value="<%=strength%>"/>
  </div>
  <div>
    <label for="perception">Perception</label>
    <input type="number" name="perception" value="<%=perception%>"/>
  </div>
</div>
<div id="fire">
  <div>
    <label>Fire</label>
    <span><%=fire%></span>
  </div>
  <div>
    <label for="agility">Agility</label>
    <input type="number" name="agility" value="<%=agility%>"/>
  </div>
  <div>
    <label for="intelligence">Intelligence</label>
    <input type="number" name="intelligence" value="<%=intelligence%>"/>
  </div>
</div>
<div id="void">
  <div>
    <label for="void">Void</label>
    <input type="number" name="void" value="<%=void_trait%>"/>
  </div>
</div>
